:root {
    box-sizing: border-box;    
    font-size: calc(0.5em + 1vw);
    background-color: #4b379a;
}

* , ::before, ::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;        
    color: #777777;    
    margin: 10%; 
}

header {
    background: url(img/1.jpg);
    color: #ffffff;
    background-position: center;
    background-size: cover;
    height: 25em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header::before {
    position: absolute;
    height: 25em;
    width: 80%;
    opacity: 0.9;
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    content: "";
}

header div {
    z-index: 1;
}

.div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

header li {
    display: inline;
    padding: 1em;
}

header a {
    text-decoration: none;
    color:#ffffff;
    text-transform: uppercase;
    font-size: 0.8em;
}

.div2 {
    margin-top: 10%;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.div2 h4 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: initial;
    letter-spacing: 3px;
}

.div2 h1 {    
    font-size: 8em;
    font-weight: lighter;
}

.b1 {
    background: none;
    border: 0.05em solid #ffffff;
    margin: 0;
}

.b1:hover {
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    border: none;
}

button:hover {
    cursor: pointer;
}

button span {
    padding: 0 0.3em;
}

button {    
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    border-radius: 1.5em;
    padding: 0.8em 2.5em;
    border: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;        
    font-weight: bold;
    margin-top: 2em;
}

.contenedor2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 3em 1.5em;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;    
    font-size: 0.7em;
}

.contenedor2 p {
    margin-top: 1em;
    padding-right: 1em; 
    font-weight: initial;
}

h1 span {
    color: #000000;
    margin-bottom: 0.2em;
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
    font-weight: initial;
}

.contenedor2 img {
    width: 99%;
}

.contenedor3{
    padding: 5em 1em;
    font-size: 0.7em;
    background: url(img/3.jpg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.contenedor3 p {
    margin-top: 1em;
    padding-right: 1em; 
    margin-bottom: 2em;
    font-weight: initial;
    color: #ffffff;
}

.contenedor3 h1 {
    color: #ffffff;
}

.contenedor3 div {
    padding-left: 3em;
}

.blanco {
    color: #ffffff;
}

.contenedor4 {
    background-color: #ffffff;
    padding: 3em 0.8em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1em;
    grid-auto-flow: row dense;
    grid-column: span 2;
    justify-items: center;
}
.contenedor4 .imagenes {
    align-self: center;
    justify-self: center;
}

.contenedor4 img{
    width: 99%;
}

.imagenes div {
    width: 20%;
    height: 0.2em;
    font-size: 0.5em;
    position: absolute;
    visibility: hidden;
}

.imagenes div:hover {
    visibility: visible;
}

.contenedor5 {
    background: url(img/5.jpg);
    color: #ffffff;
    background-position: center;
    background-size: cover;
    height: 30em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor5::before {
    position: absolute;
    height: 30em;
    width: 80%;
    opacity: 0.9;
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    content: "";
}

.contenedor5 div {
    z-index: 1;    
}

.contenedor5 .text {  
    margin-top: 7%;      
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.cajas input {
    background: none;
    border: 0.02em solid #ffffff;    
    color: #ffffff;
    width: 30em;
    height: 4em;
    padding: 1em;
    margin: 1em;
}

.contenedor5 ::placeholder { 
    color: #ffffff; 
    font-family: 'Poppins', sans-serif;
}

.cajas {        
    display: block;
    text-align: center;    
}

.cajas textarea {        
    width: 62.5em;
    height: 15em;
    background: none;
    border: 0.02em solid #ffffff;    
    color: #ffffff;        
    padding: 1em;
    margin: 1em;
}

.b2 {
    position: relative;
    background: #ffffff;
    color: #000000;    
}

.b2:hover {
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    border: none;
}

.contenedor6 {
    background: #ffffff;
    padding: 4em;
    display: block;
    text-align: center;
}

.contenedor6 h1 {
    font-size: 1.8em;
}

.contenedor6 input {
    width: 40em;
    height: 5em;
    border: none;
    margin: 3% 0%;
    font-size: 0.5em;
}

.contenedor6 ::placeholder {     
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.contenedor6 p {
    font-size: 0.8em;
}

footer {
    background:#222222;    
    padding: 6em;
    display: block;
    text-align: center; 
    font-weight: bold;   
    font-size: 0.7em;    
}

footer ul {
    margin-bottom: 3%;
}

footer li{        
    display: inline;
    padding: 1em;           
}

footer nav a {
    text-decoration: none;
    color:#ffffff;
    text-transform: uppercase;
    font-size: 0.8em;
    text-transform: capitalize;    
}

footer p {    
    margin-top: 3%;
    color: #ffffff;
}

footer a {
    color: #bc5ede;
    text-decoration: none;
}